.menu {
    height: 65px;
    width: 100%;
    position: fixed;
}

.menu>img {
    width: 42px;
    border-radius: 5px;
}

.comeback,
.comeback a {
    color: #bec3c6;
    font-size: 14px;
    text-decoration: none;
}

.comeback a:hover {
    color: #bec3c6;
}

.profile {
    width: 1100px;
}

.cover-profile {
    position: relative;
    height: 310px;
    background-repeat: no-repeat;
    background-image: url(./cover-profile.3fb9fed576da4b28386a.png);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-bottom: 120px;
}

.cover-profile img {
    width: 170px;
    border-radius: 100px;
    border: 10px solid #fff;
    position: absolute;
    top: 220px;
    left: 70px;
}

.cover-profile div {
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 330px;
    left: 260px;
}


.profile-content img {
    width: 228px;
}

.block-1 p {
    font-size: 13px;
}

.block-1 {
    width: 425px;
    min-height: 90px;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1), 0 0 1px 0 rgba(0, 0, 0, .1);
}